<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clay's Corpse Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body background="{{ url_for('static', filename='corpsebg2.png')}}" style="background-size:cover;">
      <div class="container bg-dark justify-content-center text-white">
         <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.min.js') }}"></script>
         <form action = "/result" method = "POST">
           <p>Corpses go here: ( [CTRL] + [A], [CTRL] + [C], [CTRL] + [V] )</p>
           <textarea id="Corpses" name="Corpses" rows="25" cols="80"></textarea>
           <p><input type = "submit" value = "submit" class="btn btn-primary"/></p>
         </form>
      <p>
       Note that it takes a little under one second per name at the moment. I'm working on speeding it up.
       <br />
       Sadly, CCP's API can't accept duplicate names so I'm stripping them out. sorry for the inconvenience. 
       <br />
       If it errors out you'll see it, so just let it sit once you click-a da button. 
       </p>
       Made (Badly) by Claytonius3
      </div>
 </body>
</html>
